{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": { "targets": { "node": true } }
      }
    ],
    [
      "env",
      {
        "tagets": {
          "node": true
        }
      }
    ]
  ]
}
